@page "/compare-service-scope"

<h3>CompareServiceScope</h3>
<div class="hstack gap-3">
    <div class="border border-primary border-3 p-3">
        <ExampleComponent1 />
    </div>
    <div class="border border-primary border-3 p-3">
        <ExampleComponent2 />
    </div>
</div>